/* .inline{
	border: 1px solid blue;
} */

.contrat-pannel{
	background-color: #FAFAFA;
}

.contrat-pannel .glyphicon {
	padding-right: 10px;
    font-size: 20px;
}

.contrat-pannel .panel-footer{
	background-color: #fff;
}

.info-contrat div{
	margin-right: 10px;
	text-align: center;
}

.info-contrat {
	margin-left: 15px;
}
