@CHARSET "ISO-8859-1";

.header{
background-image:linear-gradient(#66baf5, #007ed7);
width:100%;
height:50px;
padding: 10px;
}
.title{
height : 100%;
}
.user{
float:right;
height:100%;
}

.title-logo{
margin:auto;
height:100%;

}
.title-text{
font-size:18pt;
width: 100%;
height : 100%;

color: #202020;
font-family: "Arial";
}

.user-avatar{
height:100%;
}
.user-icon{
height:30px;
float : right;
}

.user-name{
height: 100%;
font-size:12pt;
text-align:left;
color: #202020;
font-family: "Arial";
}

.logout {
margin: auto;
height: 100%;
}



.case{
width:200px;
height:125px;
background-color:green;
}


.infos{

margin-top:2%;
}

.infos-case-1{
height:250px;
border-style: solid;
}
.infos-case-2{
height:350px;
border-style: solid;
}

.contenu{
margin-top:30px;
display:inline-block;
background-color:brown;
width:1000px;
height:600px;
}

.container{
width:100%;
margin-top:5px;
}

#menu{
float:left;
text-align:center;
}

.menu-button{
height:125px;
width:200px;
border-width: 2px;
border-color: black;
margin:4px;
}

.pie-chart{
height:405px;
width:100%;
background-color:blue;
}

.remboursements{
height:255px;
width:100%;
	
}

.info1{
background-color:yellow;
height:405px;
}

.info2{
background-color:grey;
height:255px;
}