@CHARSET "ISO-8859-1";

.navbar{
font-family: "Arial";
background-color: #005078;
padding:10px;
color: #F5F5F5;
margin:auto;
}

.navbar p{
	margin: 10px;
}

.title-text{
font-size:18pt;
}

.title-text a:hover{
	text-decoration: none;
	color: #F5F5F5;
}
.title-text a:active{
	text-decoration: none;
	color: #F5F5F5;
}
.title-text a:link{
	text-decoration: none;
	color: #F5F5F5;
}
.title-text a:visited{
	text-decoration: none;
	color: #F5F5F5;
}


.logout a:hover{
	text-decoration: none;
	color: #F5F5F5;
}
.logout a:active{
	text-decoration: none;
	color: #F5F5F5;
}
.logout a:link{
	text-decoration: none;
	color: #F5F5F5;
}
.logout a:visited{
	text-decoration: none;
	color: #F5F5F5;
}

.logout{
	font-size: 15px;
}

.user-icon{
height:40px;
float : right;
}

.user-name{
font-size:12pt;
}

.navbar .glyphicon-off{
	font-size: 2em;
}

.panel-heading .glyphicon{
font-size: 3em;
}

.case{
width:200px;
height:125px;
background-color:green;
}


.infos{

margin-top:2%;
}

.infos-case-1{
height:250px;
background-color:grey;
}
.infos-case-2{
height:350px;
background-color:grey
}

.contenu{
margin-top:30px;
display:inline-block;
background-color:brown;
width:1000px;
height:600px;
}

.container{
width:100%;
margin-top:20px;
}

.pie-chart{
height:405px;
width:100%;
background-color:blue;
}



.info1{
border-style: solid;
height:405px;
}

.info2{
border-style: solid;
height:255px;
}



.user a:hover{
	text-decoration: none;
	color: #F5F5F5;
}
.user a:active{
	text-decoration: none;
	color: #F5F5F5;
}
.user a:link{
	text-decoration: none;
	color: #F5F5F5;
}
.user a:visited{
	text-decoration: none;
	color: #F5F5F5;
}
