#menu .panel-heading{
padding:15px;
height:70px;
}
#menu .panel{
vertical-align:middle;
}

#menu .panel-content{
padding:10px;
background-color:#F5F5F5;
height:40px;
}

#menu a:hover{
text-decoration:none;
}
#menu a:active{
text-decoration:none;
}
#menu a:visited{
text-decoration:none;
}
#menu a:link{
text-decoration:none;
}
#menu{
float:left;
text-align:center;
}