#menu .panel-heading{
padding:15px;
height:70px;
}
#menu .panel{
vertical-align:middle;
}

#menu .panel-content{
 padding:10px;
background-color:#F5F5F5; 
}

#menu a:hover{
text-decoration:none;
 	opacity: 0.9;
 
}
#menu a:active{
text-decoration:none;
}
#menu a:visited{
text-decoration:none;
}
#menu a:link{
text-decoration:none;
}
#menu{
float:left;
text-align:center;
}
