<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.sdzee.servlets.Accueil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestBd</servlet-name>
    <servlet-class>com.sdzee.servlets.TestBd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Authentification</servlet-name>
    <servlet-class>com.sdzee.servlets.Authentification</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TousRemboursements</servlet-name>
    <servlet-class>com.sdzee.servlets.TousRemboursements</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Contrat</servlet-name>
    <servlet-class>com.sdzee.servlets.Contrat</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Demande</servlet-name>
    <servlet-class>com.sdzee.servlets.Demande</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MesInformations</servlet-name>
    <servlet-class>com.sdzee.servlets.MesInformations</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.sdzee.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditerProfile</servlet-name>
    <servlet-class>com.sdzee.servlets.EditerProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthentificationAdmin</servlet-name>
    <servlet-class>com.sdzee.servlets.AuthAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccueilAdmin</servlet-name>
    <servlet-class>com.sdzee.servlets.AccueilAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatistiquesUser</servlet-name>
    <servlet-class>com.sdzee.servlets.StatistiquesUser</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>TousRemboursementsAdmin</servlet-name>
    <servlet-class>com.sdzee.servlets.TousRemboursementsAdmin</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Demande</servlet-name>
    <url-pattern>/DemandeRemboursement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccueilAdmin</servlet-name>
    <url-pattern>/AccueilAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestBd</servlet-name>
    <url-pattern>/TestBd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Authentification</servlet-name>
    <url-pattern>/Authentification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TousRemboursements</servlet-name>
    <url-pattern>/TousRemboursements</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Contrat</servlet-name>
    <url-pattern>/Contrat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Demande</servlet-name>
    <url-pattern>/Demande</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatistiquesUser</servlet-name>
    <url-pattern>/StatistiquesUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MesInformations</servlet-name>
    <url-pattern>/MesInformations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditerProfile</servlet-name>
    <url-pattern>/EditerProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthentificationAdmin</servlet-name>
    <url-pattern>/AuthentificationAdmin</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Accueil</welcome-file>
  </welcome-file-list>
    <servlet-mapping>
    <servlet-name>TousRemboursementsAdmin</servlet-name>
    <url-pattern>/TousRemboursementsAdmin</url-pattern>
  </servlet-mapping>
</web-app>